################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KBProject/.vs/KBProject
/KBProject/bin/Debug/net7.0
/KBProject/obj
